<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, inital-scale">
	<title>Vue product App</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="nav-bar"></div>
	
	<div id="app">
		<div class="product">
			
			<div class="product-image">
				<img :src="myimage">
			</div>

			<div class="product-info">
				<h1>{{ myproduct }}</h1>

				<p v-if="inStock">In stock</p>
				<p v-else>Out of stock</p>

				<ul>
					<li v-for="detail in details">{{ detail }}</li>
				</ul>

				<div v-for="variant in variants" :key="variant.variantId">
					<p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
				</div>

				<button v-on:click="cart1 ++">Add to Cart no-method</button>

				<div class="cart">
					<p>Cart1: {{ cart1 }}</p>
				</div>

				<button @click="addToCart">Add to Cart with method</button>

				<div class="cart">
					<p>Cart: {{ cart }}</p>
				</div>

				<button @click="removeValCart">Decrement value of Cart</button>

			</div>
			
		</div>		
	</div>

	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="main.js"></script>
</body>
</html>